Flask==3.0.3
Jinja2==3.1.2
MarkupSafe==2.1.3.dist
Pillow==10.0.0.dist
Werkzeug==2.3.6.dist
blinker==1.6.2.dist
click==8.1.6.dist
colorama==0.4.6.dist
contourpy==1.1.0.dist
cycler==0.11.0.dist
fonttools==4.42.0.dist
itsdangerous==2.1.2.dist
joblib==1.3.2.dist
kiwisolver==1.4.4.dist
matplotlib==3.7.2.dist
numpy==1.25.2.dist
packaging==23.1.dist
pandas==2.0.3.dist
pip==23.0.1.dist
pyparsing==3.0.9.dist
python_dateutil==2.8.2.dist
pytz==2023.3.dist
scikit_learn==1.3.0.dist
scipy==1.11.1.dist
seaborn==0.12.2.dist
setuptools==65.5.0.dist
six==1.16.0.dist
threadpoolctl==3.2.0.dist
tzdata==2023.3.dist
